<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <main id="root" class="d-flex m-0-auto justify-content-center align-items-center row">
        <!-- new task input -->
        <header class="col-12 bg-light d-flex justify-content-center py-3 gx-3">
                <div class="col-3 mx-3">
                  <label for="taskInput" class="visually-hidden">New Task</label>
                  <input type="text" class="form-control" id="taskInput" placeholder="New Task">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
            </form>
        </header>

        <!-- to do tasks -->
            <!-- if the list is empty -->
        <div v-if="todoElements.length==0" class="gy-5 px-5 py-3 text-center">
            <h2>Add a new task!</h2>
        </div>
            <!-- else -->
        <section v-else class="col-10 bg-light rounded gy-5 px-5 py-3">
            <h3>
                ToDo list
            </h3>
            <ul v-for="(element) in todoElements">
                <li>{{element.task}}</li>
            </ul>
        </section>

        <!-- completed tasks -->
            <!-- this section will be shown when the array isn't empty -->
        <section v-show="completedTasks.length!=0" class="col-10 bg-light rounded gy-5 px-5 py-3">
            <h3>
                Completed Tasks
            </h3>
            <ul>

            </ul>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>